In [1]:
import pandas as pd
import missingno
import chardet
import seaborn as sns
sns.set_style("darkgrid")

In [2]:
df = pd.read_json("./tunann.jl", lines=True, encoding="ascii")
df.dropna(how="all", inplace=True)

In [3]:
df.head()

,address,area,category,created,description,edited,location,price
0,NaN,120 m²,Offres > Location > Appart. 2 pièces,29/05/2018,fb.3008\ra louer appartement s+2 situé au 1ér ...,11/06/2018,Tunisie > Ariana > La Soukra > La Soukra,750 Dinar Tunisien (TND)
1,NaN,140 m²,Offres > Location vacances > Appart. 3 pièces,01/04/2012,a louer app s+3ch coucher+2 s bain meuble a ...,11/06/2018,Tunisie > Sousse > Akouda > Chatt Meriem,1 000 Dinar Tunisien (TND)
2,carthage dermech,1 m²,Offres > Location > Appart. 2 pièces,25/02/2017,la croisette immobiliére vous propose \rref:a...,11/06/2018,Tunisie > Tunis > Carthage > Carthage,1 200 Dinar Tunisien (TND)
3,yasmina hammamet,344 m²,Offres > Vente > Appart. 5 pièces+,04/06/2018,"cest ladresse que vous cherchez, le mariage ...",11/06/2018,Tunisie > Nabeul > Hammamet > Hammamet,830 000 Dinar Tunisien (TND)
4,NaN,NaN,Offres > Location > Appart. 2 pièces,22/03/2017,la croisette immobiliére vous propose \rref:al...,11/06/2018,Tunisie > Tunis > La Marsa > Berge Du Lac,1 400 Dinar Tunisien (TND)

## Cleaning

# Price

In [4]:
df.price = pd.to_numeric(
    df.price.apply(lambda price_str: "".join([i for i in str(price_str) if i.isdecimal()]))
)

### Created and edited dates

In [5]:
df.created = pd.to_datetime(df.created)

In [6]:
df.edited = pd.to_datetime(df.edited)

### Area

In [7]:
df.area = pd.to_numeric(
    df.area.apply(lambda area_str: "".join([i for i in str(area_str) if i.isdecimal()]))
)

### Category

In [8]:
df["is_offer"] = df.category.str.split(">").apply(lambda x: str(x[0]).strip()) == "Offres"

In [9]:
df["estate_type"] = df.category.dropna().str.split(">").apply(lambda x: x[2].strip())

In [10]:
df["transaction_type"] = df.category.dropna().str.split(">").apply(lambda x: x[1].strip())

In [11]:
df.drop(columns="category", inplace=True)

### Location

In [12]:
df["governorate"] = df.location.str.split(">").apply(lambda x: str(x[1]).strip())

In [13]:
df["delegation"] = df.location.str.split(">").apply(lambda x: str(x[2]).strip())

In [14]:
df["municipality"] = df.location.str.split(">").apply(lambda x: str(x[3]).strip())

In [15]:
df.drop(columns="location", inplace=True)